* {
    color: #393e41;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f6f7eb;
}

.heading,
.subheading {
    color: #e94f37;
}

{
    color: #e94f37;
}

img {
    width: 500px;
    height: auto;
}

button {
    background-color: #e94f37;
    color: #ffffff;
    font-weight: bold;
}